<div class="container founders-section">
  <h3 class="text-center">FOUNDERS</h3>
  <div class="row text-center">
    <div class="col-md-3 col-sm-6" *ngFor="let founder of founders">
      <img
        src="founders/images/bassem.png"
        class="img-fluid rounded-circle"
        alt="Bassem Yahia"
      />
      <h5>BASSEM YAHIA</h5>
      <p class="card-text">Co-Founder & Chief Executive Officer</p>
    </div>

    <!-- ............... -->

    <div class="col-md-3 col-sm-6" *ngFor="let founder of founders">
      <img
        src="founders/images/mohamed.png"
        class="img-fluid rounded-circle"
        alt="Mohamed Yahia"
      />
      <h5>MOHAMED YAHIA</h5>
      <p class="card-text">Co-Founder & Chief Marketing Officer</p>
    </div>

    <!-- ........... -->
    <div class="col-md-3 col-sm-6" *ngFor="let founder of founders">
      <img
        src="founders/images/ahmed.png"
        class="img-fluid rounded-circle"
        alt="Ahmed Neanaa"
      />
      <h5>AHMED NEANAA</h5>
      <p class="card-text">Co-Founder & Chief Experience Officer</p>
    </div>

    <!-- ............ -->

    <div class="col-md-3 col-sm-6" *ngFor="let founder of founders">
      <img
        src="founders/images/salma.png"
        class="img-fluid rounded-circle"
        alt="salma Ashraf"
      />
      <h5>SALMA ASHRAF</h5>
      <p class="card-text">Co-Founder & Chief Business Development Officer</p>
    </div>
  </div>
</div>
